*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.container {
    width: 1920px;
    margin: 0 auto;
    padding: 0px;
}
/*header css start*/
.header-top {
    background: #056839;
    text-align: center;
    color: white;
    padding: 13px 0px;
}
.header-top p {
    font-family: Product Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    margin-bottom: 0rem;
}
.header {
    width: 100%;
    float: left;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgb(0 0 0 / 10%);
    padding: 19px 0px;
}
.navbar {
    padding: 0rem !important;
}
ul.navbar-nav li {
    font-family: Product Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 28px;
}
ul.navbar-nav li a {
    color: black !important;
    padding: 0rem !important;
}
li.nav-icons {
    margin-right: -16px !important;
}
ul.navbar-nav {
    margin-left: 9rem;
}
ul.navbar-nav li:hover a {
    color:#F26122!important;
    transition: .5s;
}
/*banner section*/
.banner-inner {
    width: 100%;
    float: left;
}
.banner-inner .col-md-6 {
    padding: 0px;
}
.banner-descrptions {
    background: #F26122;
    padding-left: 6.5rem;
    padding-top: 9rem;
    padding-bottom: 9.8rem;
}
.banner-descrptions h6 {
    font-size: 25px;
    font-weight: 600;
    font-family: 'Gilroy';
    text-align: left;
    letter-spacing: 1px;
    line-height: 29px;
    color: #FFFFFF; 
}
.banner-descrptions h1 {
    font-size: 51px;
    line-height: 60px;
    color: #FFFFFF;
    font-family: 'Gilroy';
    font-weight: 600;
    margin-top: 18px;
    width: 70%;
}
section.banner-inner.main_resi h1 {
    width: 100%;
}
.banner-descrptions p {
    color: #ECECEC;
    padding-right: 23px;
    font-family: Product Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 20px;
}
a.btn-prmry {
    background: transparent !important;
    color: white !important;
    padding: 16px 27px !important;
}
.btnsss_inner a {
    padding: 16px 37px;
    border-radius: 40px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    border-width: 2px;
    margin-right: 1.6rem !important;
    color: #F26122;
    border-color: white;
    border: 1px solid white;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Product Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    background: #FFFFFF;
}
a.btn-prmry:hover {
    background: white !important;
    border-color: white;
    color: #F26122 !important;
}
.btnsss_inner a:hover {
    color: #fff;
    background-color: #F26122;
    border-color: white;
}
.btnsss_inner {
    margin-top: 55px;
}
.banner-pic {
    background: url('../images/bg.png');
    height: 677px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/*our-package*/
.Our-package {
    width: 100%;
    float: left;
    background: #F6F6F6;
    padding-top: 60px;
    padding-bottom: 90px;
}
h2.heading-inner-main {
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
    font-family: 'Gilroy';
    font-weight: 600;
}
.hover-overlay {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    -moz-box-shadow: 0 0 10px rgba(10, 10, 10, .2);
    background: #FFFFFF;
    box-shadow: 0px 10px 35px rgb(142 142 142 / 15%);
    border-radius: 20px;
}
.theme-listing-info h3 {
    font-family: Product Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 60px;
}
.theme-listing-info a {
    background: #056839;
    padding: 17px 60px;
    border-radius: 54px;
    transition: all 500ms ease;
    color: white;
    border: 1px solid #056839;
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}
.theme-listing-info {
    padding-top: 45px;
    padding-bottom: 62px;
}
.theme-listing-info a:hover {
    background: transparent !important;
    color: #056839;
}
.select_link {
    margin-top: 65px;
}
.hover-overlay:hover {
    box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
}
/*also available at*/
section.available_inners {
    width: 100%;
    float: left;
    padding: 50px 0px;
}
.inner-available-image {
    width: 20%;
    float: left;
    margin-top: 55px;
}
/*Our Best Seller*/
section.Our-Sellers {
    width: 100%;
    float: left;
    background: #F6F6F6;
    padding: 50px 0px;
}
.icons-seller {
    position: absolute;
    right: 0px;
    top: 8px;
}  
.sell-prodects {
    width: 16%;
    float: left;
    text-align: center;
    margin-top: 42px;
}
.seller-hover-overlay {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    -moz-box-shadow: 0 0 10px rgba(10, 10, 10, .2);
    background: #FFFFFF;
    box-shadow: 0px 10px 35px rgb(142 142 142 / 15%);
    border-radius: 12px;
}
.seller-theme-listing-info h4 {
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: center;
    font-family: Product Sans;
    margin-bottom: 20px;
}
.more-btns {
    background: #F26122;
    border-radius: 20px;
    padding: 10px 9px;
    border: 1px solid #F26122;
    font-family: 'Gilroy';
    font-size: 15px;
    color: white;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 54px;
    transition: all 500ms ease;
    font-weight: 600;
    text-decoration: none !important;
  
}
.learn-btn {
    font-family: 'Gilroy';
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    color: #A9A9A9;
    text-decoration: none;
    text-decoration: none !important;
}
.seller-theme-listing-info {
    padding: 11px 12px 36px;
}
.seller-theme-listing-info .learn-btn { 
    position: relative;
    top: 22px;
}
a.learn-btn:hover {
    color: #F26122 !important;
}
a.more-btns:hover {
    background: transparent !important;
    color: #F26122;
}
/*Our Testimonial*/
.Our-testimonial {
    width: 100%;
    float: left;
    padding: 60px 0px;
}
/*our newsletter*/
section.news_letter {
    width: 100%;
    float: left;
    background: #056839;
    padding: 51px 0px;
}
input#email {
    height: 79px;
    width: 731px;
    border-radius: 39.5px;
    background: #FFFFFF;
    color: #A9A9A9;
    border: none;
    font-family: Product Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    padding: 23px;
    outline: none;
}
.button.button {
    height: 63px;
    width: 168px;
    right: 234px;
    font-family: Product Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    position: absolute;
    top: 87px;
    color: white;
    background: #F26122;
    border-radius: 39.5px;
    border: 1px solid #F26122;
    transition: all 0.5s;   
}
button.button:hover {
    background: white;
    color: #F26122;
}
form.newsletter-form {
    margin-top: 37px;
}
/*cdn*/
section.invest_cdn {
    width: 100%;
    float: left;
    background: #F26122;
    padding: 50px 0px 70px;
}
section.invest_cdn p {
    font-family: Product Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 37px;
    color: white;
    margin-bottom: 6.5rem;
}
section.invest_cdn a {
    border-radius: 60px;
    background: #056839;
    color: white;
    font-family: Product Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: none !important;
    border: 1px solid #056839;
    padding: 19px 125px;
    transition: 0.5s;
}
section.invest_cdn a:hover {
    background: transparent !important;
    border-color: white !important;
}
/*footer*/
footer.footer {
    width: 100%;
    float: left;
    background: #F5F5F5;
    padding: 53px 0px 60px;
}
.ft-content h5 {
    font-family: Product Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}
.ft-content ul li {
    font-family: Product Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    list-style: none;
    padding: 16px 0px;
}
.ft-content ul li a {
    color: black;
    text-decoration: none;
    transition: all .2s;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.ft-content.fttbss h5 {
    margin-top: 4.5rem;
}
.ft-content.fttb {
    margin-top: 8.8rem;
}
.ft-content ul {
    margin-top: 30px;
}
.ft-content.fttbss {
    margin-left: 35px;
}
.ft-content ul li a:hover {
    margin-left: 5px;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color:  #F26122;
}
/*copyright*/
.copyright {
    width: 100%;
    float: left;
    background: #F26122;
    padding: 40px 0px;
}
.ft-content.fttbss img {
    width: 21.57px;
    margin-right: 31px;
}
.ft-content p {
    font-family: Product Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    margin-bottom: 0px;
    color: white;
    margin-left: 20px;
}
/*Residential page*/
.footer .ft-content.fttbss img {
    width: 100px;
}
.main_resi .btnsss_inner a {
    padding: 17px 88px;
}
.main_resi .btnsss_inner {
    margin-top: 70px;
}
.main_resi .banner-descrptions p {
    margin-top: 20px;
}
.main_resi .banner-pic {
    background: url('../images/re.png');
    background-repeat: no-repeat;
    height: 448px;
}
.main_resi .banner-descrptions {
    padding-bottom: 8rem;
    padding-top: 5rem;
}
section.residantel_range {
    width: 100%;
    float: left;
    padding: 35px 0px;
    background: #F6F6F6;
}
section.residantel_range h2 {
    font-family: Product Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000000;
    padding: 0px 15px;
}
.prodect_range_items {
    width: 20%;
    float: right;
}
.Prodect_item_info {
    width: 55%;
    float: left;
    margin-left: 45px;
}
.Inerr_prodect_items {
    width: 20%;
    float: left;
    text-align:center;
}
.Inerr_prodect_items img {
    border-radius: 12px;
    margin-bottom: 10px; 
}
.Inerr_prodect_items a {
    font-family: Product Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center !important;
    color: #000000;
    text-decoration: none;
}
.Prodect_item_info h4 {
    font-family: 'Gilroy';
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    font-weight: 600;   
}
.Prodect_item_info span {
    font-family: 'Gilroy';
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #9E9E9E;
    font-weight: 600;   
}
.Prodect_item_info h5 {
    font-family: 'Gilroy';
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    font-weight: 600;
    color: #000000;
    border: 1px solid #CCCCCC;
    width: 20%;
    border-radius: 9px;
    padding: 17px;
    margin-top: 30px;
}
.Prodect_item_info p {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0em;
    position: relative;
    color: #FFFFFF;
    font-weight: 500;
    background: #056839;
    text-align: center;
    font-family: Product Sans;
    padding: 14px 0px;
    border-radius: 7px;
    width: 93%;
    margin-top: 26px;
}
.Prodect_item_info p:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/trr.png');
    background-repeat: no-repeat;
    background-position: left;
    top: -35px;
    z-index: -9;
    left: 40px;
}
.prodect_range_items span {
    font-family: Product Sans;
    font-size: 23px;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: right;
    color: #6B6B6B;
    font-weight: 400;
    margin-right: 9px;
}
.prodect_range_items h6 {
    font-family: 'Gilroy';
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: right;
    color: #B12704;
    font-weight: 600;
}
.prodect_range_items p {
    font-family: 'Gilroy';
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: right;
    color: #6B6B6B;
}
.sprater {
    width: 77%;
    height: 1px;
    background: #C9C9C9;
    position: relative;
    right: -266px;
    top: 15rem;
}
section.Our_prodects {
    width: 100%;
    float: left;
    padding: 28px 0px 110px;
}
section.Our_prodects h3 {
    font-family: 'Gilroy';
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0px 15px;
    font-weight: 600;
}
.inner-main-prrrrrt {
    margin-top: 50px;
}
.inner-main-prrrrrt {
    margin-top: 50px;
    width: 100%;
    float: left;
}
.btn-redcial a {
    border-radius: 60px;
    background: #F26122;
    color: white;
    padding: 29px 50px;
    text-decoration: none;
    font-family: Product Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    transition: 0.5s;
    border: 1px solid #F26122;
}
.btn-redcial a:hover {
    background: transparent !important;
    color: #f26122;
}
.btn-redcial {
    margin-left: 17rem;
    margin-top: 80px;
}
a.btn-inners {
    font-family: Product Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    color: #6B6B6B;
    text-align: left;
    background: none;
    border: none;
}
/*model*/
.modal-image-Iprodects ul li img {
    height: 123px;
    width: 123px;
    left: 332px;
    border-radius: 12px;
}
.modal-image-Iprodects ul li img {
    height: 126px;
    width: 134px;
    left: 332px;
    border-radius: 12px;
    display: inline;
    float: left;
    margin-top: 35px;
    margin-right: 12px;
}
.main-model-inner {
    width: 100%;
    float: left;
}
.modal-image-Iprodects ul li {
    list-style: none;
    position: relative;
}
img.icon-images {
    position: absolute;
    width: 57px !important;
    height: 57px !important;
    border-radius: 0px !important;
    top: 2rem;
    left: 0rem;
    right: 0rem;
    bottom: 0rem;
}
.modal-dialog {
    max-width: 90%;
}
.modal-content {
    border: none;
}
.Inner-Model_info {
    width: 60%;
    float: left;
}
.modal-image-Iprodects {
    width: 40%;
    float: left;
}
.Inner-Model_info h4 {
    font-family: 'Gilroy';
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    font-weight: 600;
}
.mw115 {
    min-width: 115px !important;
}
.input-group-btn {
    margin-right: -4px!important;
    margin-left: -4px!important;
}
input#quantity {
    text-align: center;
    border: 1px solid #C9C9C9;
    font-weight: bold;
    flex: inherit;
    border-left: none;
    border-right: none;
    font-size: 28px !important;
    background: transparent;
    padding: 0px;
}
button.quantity-left-minus.btn.btn-danger.btn-number {
    border: 1px solid #C9C9C9;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
    padding: 4px 10px 4px 10px;
}
button.quantity-left-minus.btn.btn-danger.btn-number i {
    color: #C9C9C9;
}
button.quantity-left-minus.btn.btn-danger.btn-number {
    background: transparent;
    outline: none !important;
}
button.quantity-left-minus.btn.btn-danger.btn-number {
    border-top-left-radius: 10px!important;
    border-bottom-left-radius: 10px!important;
    padding: 13px 7px 9px 10px!important;
}
input#quantity {
    text-align: center;
    border: 1px solid #C9C9C9;
    font-weight: bold;
    height: 34px;
    width: 44px;
    flex: inherit;
    border-left: none;
    border-right: none;
    font-size: 20px;
    background: transparent;
    padding: 0px;
}
input#quantity {
    display: inline;
    padding: 0 !important;
    height: 40px!important;
    width: 55px!important;
    font-size: 28px!important;
}
button.quantity-right-plus.btn.btn-success.btn-number {
    border: 1px solid #C9C9C9;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
    padding: 4px 10px 4px 10px;
}
button.quantity-right-plus.btn.btn-success.btn-number {
    background: transparent;
}
button.quantity-right-plus.btn.btn-success.btn-number {
    border-top-right-radius: 10px!important;
    border-bottom-right-radius: 10px!important;
    padding: 11px 8px 11px 10px!important;
}
button.quantity-right-plus.btn.btn-success.btn-number i {
    color: #C9C9C9;
}
/*residantel page end*/
/*about page start*/
section.About-us {
    width: 100%;
    float: left;
    padding-top: 10px;
    padding-bottom: 75px;
}
.about-info p {
    font-family: Product Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #626262;
}
.about-info h2 {
    margin-bottom: 37px;
    margin-top: 40px;
}
section#abttts .banner-descrptions {
    padding-bottom: 6.5rem;
    padding-top: 6.5rem;
}
/*invest page*/
section.invest_with {
    width: 100%;
    float: left;
    background: #F6F6F6;
    padding-top: 48px;
    padding-bottom: 50px;
}
.invest-info h3 {
    font-family: Product Sans;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    font-weight: 500;
}
.invest-info p {
    font-family: Product Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #626262;
    margin-top: 29px;
}
.invest-info {
    margin-top: 65px;
}
.team-info h5 {
    font-family: 'Gilroy';
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
    font-weight: 600;
    margin-top: 18px;
}
.team-info p {
    font-family: Product Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 11px;
    color: #000;
}
.team-info {
    margin-top: 45px;
}
section.Our_team {
    width: 100%;
    float: left;
    padding-top: 52px;
    padding-bottom: 70px;
}
/*faq*/
section.faq {
    width: 100%;
    float: left;
    background: #F6F6F6;
    padding: 55px 0px;
}
.card {
    border: none;
    background: none;
    margin-left: -6px;
}
.card-body {
    padding: 0rem !important;
}
.accordion .card {
    border-radius: 0rem;
    box-shadow: none;
}
.accordion .card .card-header {
    padding: 0rem;
    background: transparent;
    border: none;
    margin-top: 40px;
}
.grid-margin {
    margin-bottom: 0.625rem;
}
a.collapsed {
    font-family: Product Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    color: #000000;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
}
.card a {
    font-family: Product Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    color: #000000;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
}
.card-body p {
    font-family: Product Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #626262;
    margin-top: 17px;
}
/*contact form*/
label {
    font-family: Product sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    font-weight: 500;
    text-align: left;
    color: #000000;
    margin-top: 37px;
}
.form-row input {
    height: 85.53191375732422px;
    border-radius: 8px;
    font-family: Product Sans;
    font-size: 24px;
    background: #A0A0A0;
    padding-left: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    background: #FBFBFB;
    border: 1px solid #DADADA;
    outline: none;
    margin-top: 9px;
}
.form-control:focus {
    border-color:  #F26122;
    ;
    box-shadow: none;
}
button.btn.btn-primary {
    height: 94px;
    width: 259px;
    left: 286px;
    top: 3169px;
    border-radius: 60px;
    background: #F26122;
    border: 1px solid #f26122;
    transition: 0.5s;
    font-family: Product Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    margin-top: 35px;
    text-align: center;
    color: white;
}
button.btn.btn-primary:hover {
    background: transparent;
    color: #F26122;
}
input#validationTooltip02 {
    margin-left: 40px;
    width: 94%;
}
input#validationTooltip01 {
    width: 94%;
}
label#last-name {
    margin-left: 45px;
}
form {
    margin-top: 38px;
}
section.conatact-us {
    width: 100%;
    float: left;
    padding-top: 47px;
    padding-bottom: 105px;
}



/*responsive start*/
@media (max-width:425px){
    .container {
        width: 100%;
        margin: auto;
        padding: 0px 30px;
    }
.navbar-toggler {
    border: none !important;
} 
header.header {
    padding: 0px;
}
ul.navbar-nav {
    margin: 0rem;
}   
ul.navbar-nav li a {
    text-align: center;
}
.banner-descrptions {
    padding: 17px 35px 80px;
}
.banner-descrptions h6 {
    font-size: 17px;
    line-height: 17px;
}
.banner-descrptions h1 {
    width: 100%;
    font-size: 27px;
    line-height: 28px;
}
.banner-descrptions p {
    margin: 0px;
    font-size: 16px;
}
.btnsss_inner {
    margin-top: 25px;
}
.btnsss_inner a {
    padding: 14px 60px;
}
a.btn-prmry {
    padding: 14px 52px !important;
}
a.btn-prmry {
    padding: 14px 52px !important;
    position: relative;
    top: 42px;
}
section.Our-package {
    padding: 40px 0px;
}
h2.heading-inner-main {
    font-size: 27px;
    line-height: 30px;
}
.select_link {
    margin-top: 20px;
}
.theme-listing-info {
    padding-top: 22px;
    padding-bottom: 39px;
}
.theme-listing-info h3 {
    font-size: 25px;
    margin-bottom: 40px;
}
.inner-available-image {
    margin-top: 10px;
}
section.available_inners, section.news_letter, .Our-Sellers, section.invest_cdn, .footer, .copyright{
    padding: 30px 0px !important;
}
.sell-prodects {
    width: 100%;
    margin-top: 15px;
    margin-left: 0px !important;
}
.seller-theme-listing-info .learn-btn {
    top: 31px;
    left: -88px;
    right: 0px;
}
a.more-btns {
    text-align: center;
    margin-left: 56px;
}
input#email {
    width: 100%;
}
.button.button {
    left: 198px;
    top: 123px;
    font-size: 18px;
    width: 118px;
    height: 52px;
}
section.invest_cdn p {
    font-size: 18px;
    line-height: 26px;
    margin-top: 0px;
    margin-bottom: 29px;
}
section.invest_cdn a {
    font-size: 14px;
    padding: 26px 20px;
    line-height: 60px;
    font-weight: 100;
}
.ft-content.fttbss h5 {
    margin-top: 20px;
}
.ft-content ul {
    margin-top: 0px;
}
.ft-content.fttb {
    margin-top: 0px;
}
.ft-content.fttbss {
    margin-left: 0px;
}
.ft-content.fttbss {
    text-align: center;
}
.ft-content {
    text-align: center;
    margin-top: 15px;
}
.footer .ft-content.fttbss img {
    width: 100px;
}
/*residental*/
.main_resi .banner-descrptions {
    padding-top: 2rem;
    padding-bottom: 3rem;
}
.main_resi .banner-descrptions p {
    margin-top: 0px;
}
.btnsss_inner {
    margin-top: 30px !important;
}
a.btn-inners {
    padding: 0px;
    margin-left: 20px;
    position: relative;
    top: 18px;
    left: -50px;
}
.main_resi .btnsss_inner a {
    padding: 17px 37px;
}
section.Our_prodects h3 {
    font-size: 25px;
}
.inner-main-prrrrrt {
    margin-top: 0px;
}
.Inerr_prodect_items {
    width: 100%;
}
.Prodect_item_info {
    width: 100%;
}
.sprater {
    display: none;
}
.btn-redcial a {
    padding: 27px 67px;
    font-size: 16px;
}
.prodect_range_items {
    width: 100%;
}
.Prodect_item_info {
    width: 100%;
    margin-left: 0px;
}
.btn-redcial {
    margin-left: 0rem;
}
.Prodect_item_info p:before {
    top: -45px;
    left: 32px;
}
.btn-redcial {
    margin-top: 25px;
}

section.Our_prodects {
    padding: 20px 0px;
}
.prodect_range_items p {
    font-size: 20px;
    text-align: left;
}
/*about page*/
h2.heading-inner-main {
    margin: 12px 0px;
}
section.About-us {
    padding: 30px 0px;
}
section#abttts .banner-descrptions {
    padding-top: 2rem;
    padding-bottom: 3rem;
}
/*contact page*/
.invest-info {
    margin: 0px;
}
.invest-info h3 {
    font-size: 20px;
}
.invest-info p {
    margin-top: 0px;
}
section.Our_team, section.faq, section.invest_with, section.conatact-us {
    padding: 30px 0px;
}
.accordion .card .card-header {
    margin-top: 0px;
}
.card a {
    font-size: 20px;
}
.card-body p {
    margin-top: 10px;
}
form {
    margin-top: 0px;
}
label {
    margin-top: 0px;
}
input#validationTooltip01 {
    width: 100%;
}
input#validationTooltip02 {
    width: 100%;
    margin-left: 0px;
}
label#last-name {
    margin-left: 0px;
}
label {
    margin-top: 0px;
    font-size: 16px;
}
.form-row input {
    font-size: 15px;
    padding: 9px;
    height: 51px;
    margin-top: 0px;
}
a.contact-btns {
    padding: 17px 12px !important;
    margin-right: 0rem !important;
}
button.btn.btn-primary {
    width: 162px;
    height: 60px;
    font-size: 20px;
    margin-top: 13px;
}
.prodect_range_items h6 {
    text-align: left;
}
}
@media (max-width:370px) and (min-width:320px){
    .button.button {
        left: 164px;
        top: 151px;
        font-size: 18px;
        width: 104px;
        height: 56px;
    }
    a.btn-inners {
        margin-left: 21px;
        position: relative;
        top: 18px;
        left: -50px;
    }
    a.btn-inners {
        padding: 0px;
        margin-left: 44px;
        position: relative;
        top: 18px;
        left: 0px;
    }
}
@media (max-width:390px) and (min-width:360px){
    button.button {
        top: 120px !important;
        left: 199px !important;
    }
}
@media (max-width:424px) and (min-width:411px){
    .button.button {
        left: 217px !important;
        top: 120px;
        font-size: 18px;
        width: 138px;
        height: 57px;
    }
}
@media (max-width:425px) and (min-width:400px){
    .btnsss_inner a {
        padding: 14px 70px !important;
    }
    section.invest_cdn a {
        padding: 31px 41px;
    }
    .button.button {
        left: 229px;
        top: 120px;
        font-size: 18px;
        width: 138px;
        height: 57px;
    }
}
@media (max-width:800px) and (min-width:426px){
    header.header {
        padding: 0px;
    }
    .navbar-toggler {
        border: none !important;
    } 
    .banner-descrptions {
        padding-bottom: 5.6rem;
        padding-top: 5.3rem;
        padding-left: 50px;
    }
    .banner-descrptions h6 {
        font-size: 20px;
    }
    .banner-descrptions h1 {
        font-size: 37px;
        line-height: 36px;
        margin-top: 0px;
        width: 100%;
    }
    .banner-descrptions p {
        margin: 0px;
    }
    .btnsss_inner a {
        margin: 0px !important;
    }
    a.btn-prmry {
        padding: 16px 25px !important;
    }
    .banner-pic {
        height: 445px;
    }
    section.available_inners, section.news_letter, .Our-Sellers, section.invest_cdn, .footer, .copyright{
        padding: 30px 0px !important;
    }
    section.Our-package {
        padding: 40px 0px;
    }
    .select_link {
        margin-top: 20px;
    }
    .theme-listing-info h3 {
        font-size: 25px;
        margin-bottom: 40px;
    }
    .theme-listing-info {
        padding-top: 22px;
        padding-bottom: 39px;
    }
    h2.heading-inner-main {
        font-size: 27px;
        line-height: 30px;
        margin: 12px 0px;
    }
    .more-btns {
        font-size: 12px;
        padding: 15px 34px;
    }
    .sell-prodects {
        width: 28%;
        margin-top: 20px;
    }
    button.button {
        top: 75px !important;
        right: 16px !important;
    }
    section.invest_cdn p {
        font-size: 18px;
        line-height: 26px;
        margin-top: 0px;
        margin-bottom: 29px;
    }
    .footer .ft-content.fttbss img {
        width: 100px;
    }
    .ft-content.fttbss h5 {
        margin-top: 20px;
    }
    .ft-content ul {
        margin-top: 0px;
    }
    .ft-content.fttb {
        margin-top: 5.5rem;
    }
    button.button {
        top: 87px !important;
    }
    /*residental*/
    .main_resi .banner-descrptions {
        padding-top: 8rem;
        padding-bottom: 7.8rem;
    }
.main_resi .banner-descrptions p {
    margin-top: 0px;
}
.btnsss_inner {
    margin-top: 30px !important;
}
.main_resi .btnsss_inner a {
    padding: 17px 37px;
}
section.Our_prodects h3 {
    font-size: 25px;
}
.inner-main-prrrrrt {
    margin-top: 0px;
}
.Inerr_prodect_items {
    width: 30%;
}

.sprater {
    display: none;
}
.btn-redcial a {
    padding: 19px 51px;
    font-size: 18px;
}
.btn-redcial {
    margin-left: 0rem;
}
.Prodect_item_info p:before {
    top: -56px;
    left: 25px;
}
.btn-redcial {
    margin-top: 25px;
}
a.btn-inners {
    padding: 0px;
    line-height: 5;
}
section.Our_prodects {
    padding: 20px 0px;
}
.prodect_range_items p {
    font-size: 20px;
}
.Prodect_item_info p:before {
    top: -45px;
    left: 35px;
}
/*about page*/
section.About-us {
    padding: 30px 0px;
}
section#abttts .banner-descrptions {
    padding-bottom: 4.7rem;
}
input#validationTooltip02 {
    margin-left: 13px;
}
.banner-descrptions.contc-bner {
    padding-bottom: 7rem;
    padding-top: 6.5rem;
}
.Prodect_item_info {
    width: 40%;
}
.Prodect_item_info h4 {
    font-size: 22px !important;
}
.sprater {
    right: 0px;
    width: 100%;
}
}
@media (max-width:790px) and (min-width:768px){
    .banner-descrptions {
        padding-bottom: 4.6rem;
        padding-top: 4rem;
        padding-left: 50px;
    }
    .Prodect_item_info {
        width: 40%;
    }
    .Prodect_item_info h4 {
        font-size: 22px !important;
    }
    .sprater {
        right: 0px;
        width: 100%;
    }
}
@media (max-width:850px) and (min-width:801px){
    .banner-descrptions h1 {
        font-size: 37px;
        line-height: 36px;
        margin-top: 0px;
        width: 100%;
    }
    .banner-descrptions h6 {
        font-size: 20px;
    }
    .banner-descrptions p {
        margin: 0px;
    }
    .banner-descrptions {
        padding-left: 3rem;
        padding-bottom: 11.8rem;
        padding-top: 12rem;
    }
    section.Our-package {
        padding: 40px 0px;
    }
    h2.heading-inner-main {
        font-size: 27px;
        line-height: 30px;
        margin: 12px 0px;
    }
    .select_link {
        margin-top: 20px;
    }
    .theme-listing-info {
        padding-top: 22px;
        padding-bottom: 39px;
    }
    .theme-listing-info h3 {
        font-size: 25px;
        margin-bottom: 40px;
    }
    section.available_inners, section.news_letter, .Our-Sellers, section.invest_cdn, .footer, .copyright {
        padding: 30px 0px !important;
    }
    .sell-prodects {
        width: 28%;
        margin-top: 20px;
    }
    .more-btns {
        font-size: 12px;
        padding: 15px 34px;
    }
    section.invest_cdn p {
        font-size: 18px;
        line-height: 26px;
        margin-top: 0px;
        margin-bottom: 29px;
    }
    button.button {
        left: 35rem;
    }
    section#abttts .banner-descrptions {
        padding-bottom: 6rem;
        padding-top: 6rem;
    }
    .Prodect_item_info {
        width: 40%;
    }
    .Prodect_item_info h4 {
        font-size: 22px !important;
    }
    .sprater {
        right: 0px;
        width: 100%;
    }
    .btn-redcial {
        margin-left: 0rem;
        margin-top: 80px;
    }
    .btn-redcial a {
        padding: 25px 40px;
        font-size: 24px;
    }
}
@media (max-width:1024px) and (min-width:850px){

    header.header {
        padding: 0px;
    }
    ul.navbar-nav {
        margin-left: 0rem;
    }
    ul.navbar-nav li {
        padding-left: 24px;
        font-size: 17px;
    }
    .banner-descrptions {
        padding-bottom: 7.1rem;
        padding-top: 8rem;
        padding-left: 2rem;
    }
    .banner-descrptions h1 {
        font-size: 37px;
        line-height: 36px;
        margin-top: 0px;
        width: 100%;
    }
    .banner-pic {
        height: 526px;
    }
    section.Our-package {
        padding: 40px 0px;
    }
    .select_link {
        margin-top: 20px;
    }
    .theme-listing-info {
        padding-top: 22px;
        padding-bottom: 39px;
    }
    .theme-listing-info h3 {
        font-size: 25px;
        margin-bottom: 40px;
    }
    section.available_inners, section.news_letter, .Our-Sellers, section.invest_cdn, .footer, .copyright {
        padding: 30px 0px !important;
    }
    .sell-prodects {
        margin-top: 15px;
        width: 17%;
        margin-left: 24px !important;
    }
    button.button {
        right: 144px !important;
    }
    section.invest_cdn p {
        font-size: 18px;
        line-height: 26px;
        margin-top: 0px;
        margin-bottom: 29px;
    }
    .footer .ft-content.fttbss img {
        width: 100px;
    }
    .ft-content.fttbss h5 {
        margin-top: 20px;
    }
    .ft-content ul {
        margin-top: 0px;
    }
    .ft-content.fttb {
        margin-top: 5.5rem;
    }

    /*rasidantel*/
    .main_resi .banner-descrptions {
        padding-bottom: 7rem;
        padding-top: 7.1rem;
    }
    .sprater {
        right: -241px;
    }
    a.btn-inners {
        padding: 0px;
    }
    .btn-redcial {
        margin-left: 10rem;
    }
    .prodect_range_items p {
        font-size: 20px;
    }
    .Prodect_item_info p:before {
        top: -45px;
    }
    .banner-descrptions.contc-bner {
        padding-bottom: 7.1rem;
        padding-top: 7rem;
    }
    section#abttts .banner-descrptions {
        padding-bottom: 7rem;
        padding-top: 7.1rem;
    }
    .main_resi .btnsss_inner a {
        padding: 17px 78px;
    }
}
@media (max-width:1440px) and (min-width:1025px){
    .banner-descrptions {
        padding-bottom: 9.3rem;
        padding-top: 9.5rem;
    }
}
@media (max-width:2500px) and (min-width:1441px){
    .banner-descrptions {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }
    .main_resi .banner-pic {
        background-size: cover;
    }
    .main_resi .banner-descrptions {
        padding-bottom: 8rem;
        padding-top: 6.6rem;
    }
    section#abttts .banner-descrptions {
        padding-bottom: 8.2rem;
        padding-top: 8rem;
    }
}
@media (max-width:2560px) and (min-width:2501px){
    .banner-descrptions {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }
    .main_resi .banner-descrptions {
        padding-bottom: 9.6rem;
    }
    .main_resi .banner-pic {
        background-size: cover;
    }
    section#abttts .banner-descrptions {
        padding-bottom: 8.2rem;
        padding-top: 8rem;
    }
}
